<ion-header>
  <div class="bg-dark text-white">
    <ion-card-header>
      <ion-card-title class="text-white">Loja</ion-card-title>
    </ion-card-header>
  </div>
</ion-header>

<ion-content>
  <div class="container">
    <ion-searchbar animated placeholder="Busque algum jogo"></ion-searchbar>
    <div class="row">
      <div class="col-md-4">
        <ion-card>
          <img src="/assets/fps/csgo/logo_csgo.jpg" class="tamImgGame img-fluid">
          <ion-card-header>
            <ion-card-title class="text-center">
              Counter Strike Global Offensive
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
      <div class="col-md-4">
        <ion-card>
          <img src="/assets/fps/doom/logo_doom.jpg" class="tamImgGame img-fluid">
          <ion-card-header>
              <ion-card-title class="text-center">
                DOOM
              </ion-card-title>
            </ion-card-header>
        </ion-card>
      </div>
      <div class="col-md-4">
        <ion-card>
          <img src="/assets/mmorpg/PW/logo_pw.png" class="tamImgGame img-fluid">
          <ion-card-header>
              <ion-card-title class="text-center">
                Perfect World
              </ion-card-title>
            </ion-card-header>
        </ion-card>
      </div>
      <div class="col-md-4">
        <ion-card>
          <img src="/assets/mmorpg/Tera/logo_tera.jpg" class="tamImgGame img-fluid">
          <ion-card-header>
              <ion-card-title class="text-center">
                Tera
              </ion-card-title>
            </ion-card-header>
        </ion-card>
      </div>
      <div class="col-md-4">
        <ion-card>
          <img src="/assets/mmorpg/WOW/logo_wow.jpg" class="tamImgGame img-fluid">
          <ion-card-header>
              <ion-card-title class="text-center">
                World Of WarCraft
              </ion-card-title>
            </ion-card-header>
        </ion-card>
      </div>
      <div class="col-md-4">
        <ion-card>
          <img src="/assets/open_world/gta_5/logo_gta5.jpg" class="tamImgGame img-fluid">
          <ion-card-header>
              <ion-card-title class="text-center">
                Grand Theft Auto 5
              </ion-card-title>
            </ion-card-header>
        </ion-card>
      </div>
      <div class="col-md-4">
        <ion-card>
          <img src="/assets/open_world/red_dead_2/logo_red_dead_2.jpg" class="tamImgGame img-fluid">
          <ion-card-header>
              <ion-card-title class="text-center">
                Red Dead Redemption 2
              </ion-card-title>
            </ion-card-header>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
