<ion-header>
  <div class="bg-dark text-white">
    <ion-card-header>
      <ion-card-title class="text-white">Bem vindo a GamesLoja</ion-card-title>
      <ion-text>
        <p>Aqui nós temos os melhores games com os melhores preços para você.</p>
      </ion-text>
    </ion-card-header>
  </div>
</ion-header>

<ion-content>
  <div class="container">
     <ion-slides pager="true">
        <ion-slide>
            <img src="/assets/fps/csgo/logo_csgo.jpg" class="tamImgGame img-fluid">
        </ion-slide>

        <ion-slide>
            <img src="/assets/fps/doom/logo_doom.jpg" class="tamImgGame img-fluid">
        </ion-slide>

        <ion-slide>
            <img src="/assets/mmorpg/PW/logo_pw.png" class="tamImgGame img-fluid">
        </ion-slide>

        <ion-slide>
            <img src="/assets/mmorpg/Tera/logo_tera.jpg" class="tamImgGame img-fluid">
        </ion-slide>

        <ion-slide>
            <img src="/assets/mmorpg/WOW/logo_wow.jpg" class="tamImgGame img-fluid">
        </ion-slide>

        <ion-slide>
            <img src="/assets/open_world/gta_5/logo_gta5.jpg" class="tamImgGame img-fluid">
        </ion-slide>

        <ion-slide>
            <img src="/assets/open_world/red_dead_2/logo_red_dead_2.jpg" class="tamImgGame img-fluid">
        </ion-slide>
     </ion-slides>
  </div>
</ion-content>
