<ion-header>
  <div class="bg-dark text-white">
    <ion-card-header>
      <ion-card-title class="text-white">Bem vindo a GamesLoja</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Aqui nós temos os melhores games com os melhores preços para você</p>
    </ion-card-content>
  </div>
</ion-header>

<ion-content>
  <div class="container">
     AQUI VAI ENTRAR OS SLIDES DOS JOGOS, NÃO SUAS CATEGORIAS
    <div class="row">
      <div class="col-md-4">
        <ion-card>
          <img src="/assets/fps/logo_fps.jpg" class="tamImgGame img-fluid">
          <ion-card-header>
            <ion-card-title class="text-center">
              FPS
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
      <div class="col-md-4">
        <ion-card>
          <img src="/assets/open_world/logo_open_world.jpg" class="tamImgGame img-fluid">
          <ion-card-header>
              <ion-card-title class="text-center">
                Mundo Aberto
              </ion-card-title>
            </ion-card-header>
        </ion-card>
      </div>
      <div class="col-md-4">
        <ion-card>
          <img src="/assets/mmorpg//logo_rpg.gif" class="tamImgGame img-fluid">
          <ion-card-header>
              <ion-card-title class="text-center">
                MMORPG
              </ion-card-title>
            </ion-card-header>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
